@font-face {
  font-family: customFont;
  src: url(customFont.ttf);
}

:root {
  font-family: customFont, monospace;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: min(1.2vw, 2vh);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  white-space: pre;
  background-color: #535bf2;
  cursor: none;
}
